.diia-logo {
    margin: 44px 0 10px 28px;
    width: 51px;


}
.qr {
    margin: 58px 27px 10px 10px;
    float: right;
    width: 25px;
}

.blok {
  color: #fff0; 
  background: #fff7cf;
    /* border-style: solid; */
  width: 14px;
  height: 400px;
    /* aspect-ratio: 3/4; */
    /* font-size: 30px; */
    /* border-width: 5px; */
    /* border-color: #fff0; */
    /* display: block; */
  margin: -455px 0 54px 400px;
    /* line-height: 200px; */
    /* opacity: .9; */
  border-radius: 10px 0px 0 10px;
}
.diia-eblo-r{
  margin: 25px 0 10px 20px;
  width: 153px;
  aspect-ratio: 3/4;
  background-color: #bfecb4;
}
.diia-eblo{
  margin: 1px 1px 1px 1px;
  
  width: 151px;
  aspect-ratio: 3/4;
}
.txte{
  text-align: left;
  margin: -210px 1px 3px 193px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2;
}
.txte1{
  line-height: 1.3;
  margin-top: 0em;
  margin-bottom: 0em;
}
.flip-card {
  background-color: transparent;
  width: 344px;
    
  aspect-ratio: 3/4;
  border-radius: 10px 10px;
  margin: 25px auto ;
  perspective: 1000px;
}
@font-face { 
  font-family: 'Myfont'; 
  src: url( '../fonts/e-Ukraine-Light.c2f9f1bd.woff'); 
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);

}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background: #fff7cf;
  color: black;
}

.flip-card-back {
  background: #fff7cf;
  color: white;
  transform: rotateY(180deg);
}
body {
  /*background-image: url(../img/diia/ddd.png); */
  background-size: 100%;
  background-color: #bfecb4;

  display: block;
  font-family: 'Myfont', cursive;

}
.COVID19 {
  text-align: left;
  margin: 30px 1px 3px 17px;
  font-size: 23px;
  font-weight: bold;
  line-height: 1.1;
}
.runstr{
  margin: -3px 0;
  height: 35px;
  background: #faeb64;
}
.mr {
  margin: 8px 0;
  font-size: 13px;
  font-weight: bold;
}
.dname{
  text-align: left;
  margin: 9px 1px 3px 17px;
  font-size: 23px;
  font-weight: bold;
  line-height: 1.1;
}
#current_date_time_block{
  text-align: center;
  margin: -14px 0 0 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2;
}
.qrcode{
  margin: 120px auto;
  width: 250px;
}
.panel{
  margin: -10px auto 0 auto;
  width: 100%;
}
.oooo{
  margin: -8px auto 0 auto;
  width: 27%;
  display: block;
}